<%= javascript_include_tag "http://www.mapquestapi.com/sdk/js/v7.2.s/mqa.toolkit.js?key=Fmjtd%7Cluu8290yl9%2Crw%3Do5-947aur" %>
<%= javascript_include_tag 'directions' %>

<h1>Driving Direction for Trip where trip_id is 3</h1>

@lan_origin = from DB (User Table)
@lan_origin = from DB	(User Table)

@lan_destination = from DB (Trail Table)
@lon_destination = from DB (Trail Table)

<div id="map" style="width:1000px; height:400px;"></div>



